<% layout("/layouts/boilerplate") %>

    <style>
      #filters{
       
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
      }
      .filter{
        text-align: center;
        margin-right: 2rem;
        opacity: 0.7;
        margin-top: 1rem;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }
      .filter p{
        font-size: 0.8rem;
      }
      .tax-info{
        display: none;
      }
      .tax-toogle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
        margin-left: 0rem;
        display: flex;
        align-items: center;
      }
    </style>
     <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
       <p> Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></i></div>
       <p> Rooms</p>
      </div>
       
       <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
       <p> Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
       <p> Mountain</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-landmark"></i></div>
       <p> Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
       <p> Amazing pools</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
       <p> Camping</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-cow"></i></i></div>
       <p> Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
       <p> Artic</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
       <p> Domes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
       <p> Boats</p>
      </div>


      <div class="tax-toogle">
        <div class="form-check form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
      </div>
     </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      
 <% for(let listing of allisting){ %>
  <a href="/listing/<%= listing.id %>" class="listing_link">
    <div class="card" style="width: 18rem;">
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
  <div class="card-body">
    <h5 class="card-title"><b><%= listing.title %> <br>
    Price= ₹<%= listing.price.toLocaleString("en-IN")%></b>/night</h5>
    <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
    
    <!-- <p class="card-text"> <%= listing.description %> </p> -->
    <!-- <a href="/listing/<%= listing.id %>" class="btn btn-primary">See Details</a> -->
  </div>
</div>
</a>

 <% } %>
 
 </div>


    <script>
      let taxswitch=document.getElementById("switchCheckDefault");
      taxswitch.addEventListener("click",()=>{
       let taxinfo=document.getElementsByClassName("tax-info");
       for(info of taxinfo)
       {
        if(info.style.display !="inline")
       {
        info.style.display="inline";
       }
        else
       {
        info.style.display="none";
       }
       }
      });
    </script>

